@import 'includes/base';
@import 'includes/haik';


.org-nav {
  border-top: 6px solid #f8d32f;
  padding: 25px 0;
  
  ul {
    li {
      a{
        font-family: 'Cambay', sans-serif;
        font-weight: bold;
        font-style: italic;
        
      }
    }
  }
  
}


.org-eyecatch-fluid {
  background-color: #eee;
  .jumbotron {
    margin-bottom: 0;
    padding: 0;
  }
  .qhm-section {
    div {
      .container-fluid {
        padding: 0 !important;
      }          
    }
  }
}

  .noeyecatch {
    background-image: none;
  }


.org-section {
  h4 {
    color: #999;
    font-size: 15px;
    font-family: 'Cambay', sans-serif;
    font-weight: bold;
    font-style: italic;
    border-top: 3px solid #eee;
    padding-top: 10px;
  }
  .org-thumbnails {
    padding-right: 15px;
    h2 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #333;
    }
    p {
      margin: 0;
      &:last-of-type {
        margin-bottom: 30px;
      }
    }
    .col-sm-4 {
      padding-right: 0;
    }
  }
  &.org-dosis {
    h2 {
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
    }
  }  
}


