$font--base: 'Cambay', sans-serif;
$font--accent: 'Dosis', sans-serif;
$font--ropa: 'Ropa Sans', sans-serif;

$color--white: #ffffff;
$color--gray: #999;
$color--gray--medium: #666;
$color--black: #000;
$color--main: #333;

$color--red: #e65950;
$color--mint:#79d1c9;
$color--mint--dark:#4dad9f;
